@model IEnumerable<TrendTwice.Models.Dress>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DressCategories.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DressColors.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DressConditions.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DressFabric.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DressPhotos.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DressSize.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PieceCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DressCategories.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DressColors.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DressConditions.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DressFabric.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DressPhotos.Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DressSize.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PieceCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
